<div class="container publicationDiv" style="margin-bottom:10px">
  <div class="line"></div>
  <div class="row">
    <div class="col-xs-6 text-left">
      <a href="/" class="noStyle">David Hao</a>
    </div>
    <div class="col-xs-6 text-right">
      <a href="assets/resume.pdf" class="icon-back icon-back-footer">
        <i class="far fa-file-alt"></i>
      </a>
      <a href="https://linkedin.com/in/david-hao/" class="icon-back icon-back-footer center-padding">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="mailto:davidhao@yahoo.ca" class="icon-back icon-back-footer">
        <i class="far fa-envelope"></i>
      </a>
    </div>
  </div>
</div>
